*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pxs;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background:#f4f4f4; 
}
header,section{
    overflow-x: hidden;
}
.nav-link{
    color:white !important;
    font-size: 20px;
}
.dropdown-content{
    display:none;
    position: absolute;
    background: white;
    min-width:160px;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}

.dropdown-content a:hover{
    background:#ddd;
}

.dropdown:hover .dropdown-content{
    display:block;
}

#showcase-1{
    background-image: url('images/cover.jpg');
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 0;
} 

header .nav-item{
    padding: 0.5rem;
}
#showcase-1 .container{
    text-align: center;
    margin-top: 200px;
    color:white;
    font-weight: 800;
}
#showcase-1 .container h3{
    font-weight: 800;
}

#showcase-2 .container h1{
    margin-top:3rem;
    margin-bottom:2rem;
    text-decoration: underline;
    text-underline-offset: 1rem !important;
}
#showcase-5 .container{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
	grid-gap: .5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;

}




#showcase-map{
    margin-top:3rem;

}
#showcase-map .container .row{
    margin-bottom:1rem;
    line-height: 2rem;

}
#showcase-map .container .row h1{
    margin-bottom:1rem;
    text-decoration: underline;
    text-underline-offset: 1rem !important;

}
#showcase-4 .container h1{
    margin-top:3rem;
    margin-bottom:2rem;
    text-decoration: underline;
    text-underline-offset: 1rem !important;
}


.input-group{
    height:3rem;
    margin-bottom:2rem;
    
}
.form-control {
    font-size:1.5rem;
    border-left: .7rem solid skyblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
  

ul{
	list-style: none;
}
a {
    color:black;
	text-decoration: none;
    
}
#showcase-7 .container{
    display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 2rem;
}
#showcase-7 .container{
    margin-top: 6rem;
    border-bottom: 1px solid black;
}
#showcase-8 .container{
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2rem;
}
#showcase-8 .container{
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid black;
}
#showcase-9 .container{
    margin-top: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    line-height: 5;
}

.btn{
	
	text-transform: uppercase;
    display: inline-block;
}
.btn-lg{
	padding: .6rem 4rem;
	text-transform: uppercase;
    display: inline-block;
    text-decoration: underline;
    border: 1px solid black;
    border-left: none;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.card-body .btn{
    margin-left: 10rem;
}
footer .container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;

}
.brands ul{
    display:grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0rem;

}
footer{
    margin:2rem;
    line-height:3;

}